/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveButton {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Oswald', sans-serif;
  color: #000; }

.primary_heading {
  font-size: 6rem;
  backface-visibility: hidden;
  animation: moveFromLeft 1s ease-in;
  margin-bottom: 1rem; }
  @media only screen and (max-width: 50em) {
    .primary_heading {
      font-size: 5.5rem; } }
  @media only screen and (max-width: 31.25em) {
    .primary_heading {
      font-size: 5rem; } }

.primary_paragraph {
  font-size: 1.7rem;
  width: 70%;
  text-align: justify;
  margin: auto; }
  @media only screen and (max-width: 31.25em) {
    .primary_paragraph {
      width: 60%; } }

.header__button-box {
  margin-top: 2rem; }

.secondary__heading {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, rgba(254, 203, 75, 0.9), rgba(8, 40, 141, 0.9));
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  @media only screen and (max-width: 50em) {
    .secondary__heading {
      font-size: 3rem;
      font-weight: 600; } }
  @media only screen and (max-width: 31.25em) {
    .secondary__heading {
      font-size: 2.5rem;
      font-weight: 600; } }
  .secondary__heading:hover {
    transform: translateY(-1rem);
    text-shadow: 0.5rem 1rem 20px rgba(0, 0, 0, 0.2); }

.tertiary__heading {
  font-size: 1.5rem;
  text-decoration: underline; }

.secondary__paragraph {
  font-size: 1.3rem;
  text-align: justify;
  text-align: center; }

.secondary__paragraph-box {
  width: 80%;
  padding-top: 2rem; }

.section__teacher-span {
  font-weight: 700;
  font-size: 1.5rem;
  display: block;
  text-decoration: underline; }

.login_paragraph {
  font-size: 1.5rem; }

.link {
  text-decoration: none;
  color: inherit; }

.image {
  width: 100%;
  height: auto;
  object-fit: cover; }

.section {
  padding: 5rem 2rem;
  text-align: center; }

.margin__bottom_medium {
  margin-bottom: 2rem; }

.margin__bottom-top_medium {
  margin: 2rem 0; }

.medium__width {
  width: 70%;
  margin: auto; }

.btn:link, .btn:visited {
  color: #08288D;
  padding: 1rem 3rem;
  border-radius: 15px;
  font-size: 1.5rem;
  font-weight: 500;
  display: inline-block;
  border: 3px solid #FECB4B;
  animation: moveButton 1s ease-in;
  animation-fill-mode: backwards; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.404); }

.btn:active {
  transform: translateY(1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.404); }

.btn__learning {
  margin-right: 3rem;
  background-color: #FECB4B;
  border: none; }

.btn__teaching {
  background-color: transparent; }

.btn__social {
  font-size: 3rem;
  display: inline-block;
  margin: 1rem 0 0 0; }
  .btn__social:not(:last-child) {
    margin-right: 1.7rem; }
  .btn__social-facebook {
    color: #4267B2; }
  .btn__social-linkedin {
    color: #2867B2; }
  .btn__social-instagram {
    background-image: linear-gradient(to right bottom, #405de6, #fd1d1d);
    -webkit-background-clip: text;
    color: transparent; }
  .btn__social-resume {
    background-image: linear-gradient(to right bottom, #08288D, #FC7A00);
    -webkit-background-clip: text;
    color: transparent; }
  .btn__social:hover {
    transform: translateY(-3px);
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.404); }
  .btn__social:active {
    transform: translateY(1px);
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.404); }

.footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 10px -10px 20px -20px #08288D;
  padding: 4rem;
  font-size: 1.7rem;
  text-transform: uppercase;
  position: relative; }
  @media only screen and (max-width: 31.25em) {
    .footer {
      flex-direction: column;
      text-align: center;
      padding: 2rem; } }
  .footer__logo-box {
    width: 20%; }
    @media only screen and (max-width: 31.25em) {
      .footer__logo-box {
        width: 40%;
        margin: auto;
        padding-bottom: 1.5rem; } }
  .footer__logo {
    width: 50%;
    object-fit: contain; }
  .footer__about-company {
    width: 20%; }
    @media only screen and (max-width: 31.25em) {
      .footer__about-company {
        width: 100%; } }
  .footer__about-links {
    width: 20%; }
    @media only screen and (max-width: 31.25em) {
      .footer__about-links {
        width: 100%; } }
  @media only screen and (max-width: 31.25em) {
    .footer__paragraph {
      margin-right: 1rem;
      display: inline-block;
      padding: 1.2rem 0; } }
  .footer__heading {
    font-weight: 700;
    text-decoration: underline; }
  .footer__social-links {
    width: 20%; }
    @media only screen and (max-width: 31.25em) {
      .footer__social-links {
        width: 100%;
        margin: auto; } }

.form__box {
  width: 70%;
  height: auto;
  background-color: white;
  box-shadow: 0px 7px 16px -3px rgba(0, 0, 0, 0.75);
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5rem 2rem;
  font-size: 1.5rem;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 31.25em) {
    .form__box {
      width: 90%; } }

.label_login {
  display: block;
  margin: 1rem 0 1rem 0; }

.div__flex-arrange {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 1.7rem auto; }

input[type=text], input[type=password], input[type=email], input[type=tel] {
  width: 80%;
  padding: 1.2rem 2rem;
  margin: 1rem 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: auto;
  background-color: #f7f7f7; }

input[type=submit] {
  background-color: #FECB4B;
  color: white;
  padding: 1.4rem 3rem;
  margin: 1.5rem 0;
  border: none;
  display: inline-block;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all .1s; }
  input[type=submit]:not(:last-child) {
    margin-right: 2rem; }
  input[type=submit]:hover {
    transform: translateY(-3px);
    box-shadow: 1rem 1rem 2.1rem -0.9rem rgba(0, 0, 0, 0.304);
    color: #08288D; }
  input[type=submit]:active, input[type=submit]:focus {
    transform: translateY(0);
    box-shadow: 1rem 1rem 2.1rem -1.2rem rgba(0, 0, 0, 0.304);
    outline: none; }

.form__img {
  position: absolute;
  top: -4rem; }

.header {
  height: 100vh; }
  @media only screen and (max-width: 31.25em) {
    .header {
      height: 80vh; } }
  .header__body {
    display: flex;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    justify-content: space-evenly;
    position: relative; }
    .header__body-text {
      width: 40%;
      text-align: center;
      padding: 12rem 0 0 5rem; }
      @media only screen and (max-width: 31.25em) {
        .header__body-text {
          width: 100%;
          padding: 10rem 0 0 0; } }
    .header__body-image {
      width: 40%; }
      @media only screen and (max-width: 31.25em) {
        .header__body-image {
          display: none; } }

.header__flag {
  width: 15%;
  height: auto; }
  @media only screen and (max-width: 31.25em) {
    .header__flag {
      width: 15%; } }
  .header__flag:not(:last-child) {
    margin-right: 2rem; }
  .header__flag-box {
    width: 70%;
    display: flex;
    margin: auto;
    margin-top: 2rem; }
    @media only screen and (max-width: 31.25em) {
      .header__flag-box {
        text-align: center;
        width: 60%; } }

.svg {
  width: 5%;
  position: absolute; }
  @media only screen and (max-width: 31.25em) {
    .svg {
      width: 10%; } }
  .svg-1 {
    top: 1rem;
    left: -1rem; }
    @media only screen and (max-width: 31.25em) {
      .svg-1 {
        top: .5rem;
        left: -2rem; } }
  .svg-2 {
    bottom: -3rem;
    right: 0; }
    @media only screen and (max-width: 31.25em) {
      .svg-2 {
        bottom: 7rem;
        right: 0; } }

.navbar {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 4rem;
  background-color: #fff;
  font-size: 2rem;
  color: #08288D;
  font-weight: 500;
  box-shadow: 10px 10px 20px -20px #08288D;
  z-index: 100; }
  @media only screen and (max-width: 75em) {
    .navbar {
      height: 20vh; } }
  @media only screen and (max-width: 50em) {
    .navbar {
      height: 15vh; } }
  @media only screen and (max-width: 31.25em) {
    .navbar {
      font-size: 1.5rem;
      height: 10vh;
      position: relative; } }
  @media only screen and (min-width: 112.5em) {
    .navbar {
      height: 40vh; } }

.logo__box {
  width: 5%;
  height: auto; }
  @media only screen and (max-width: 31.25em) {
    .logo__box {
      width: 12%;
      margin-top: .5rem; } }

@media only screen and (max-width: 31.25em) {
  .nav__lists {
    display: none; } }

.nav__list {
  display: inline-block;
  padding-top: 1rem;
  transition: all 0.1s; }
  .nav__list:hover {
    border-bottom: 2px solid #FFCB53;
    opacity: 0.8; }
  .nav__list:not(:last-child) {
    margin-right: 3.5rem; }

.hamburger__line {
  display: none; }
  @media only screen and (max-width: 31.25em) {
    .hamburger__line, .hamburger__line::after, .hamburger__line::before {
      display: inline-block;
      background-color: #000;
      width: 30px;
      height: 3px;
      margin-top: 2rem; }
    .hamburger__line::after {
      content: "";
      background-color: yellow;
      position: absolute;
      top: .5rem; }
    .hamburger__line::before {
      content: "";
      background-color: red;
      position: absolute;
      top: 2.5rem; } }

.school__dashboard {
  display: flex;
  justify-content: space-between;
  height: 100vh; }
  .school__dashboard--left {
    background-color: #fff;
    width: 25%;
    padding: 3rem 0;
    border-bottom-right-radius: 5px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
    z-index: 100; }
  .school__dashboard--right {
    width: 75%;
    background-color: #eee; }
  .school__dashboard--navbar {
    height: 15vh;
    padding: 2rem 2rem;
    background-color: #fff;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75); }
  .school__dashboard--logobox {
    width: 30%;
    margin: auto; }
  .school__dashboard--logo {
    width: 100%;
    object-fit: cover; }
  .school__dashboard--listbox {
    margin-top: 2rem; }
  .school__dashboard--list {
    list-style: none; }
  .school__dashboard--item {
    background-color: #fff;
    color: #000;
    font-size: 2rem;
    display: block;
    padding: 1.5rem 0 1rem 0;
    border-bottom: 3px solid rgba(0, 0, 0, 0.8);
    border-left: 3px solid transparent;
    transition: all .2s ease; }
    .school__dashboard--item:active, .school__dashboard--item:focus {
      color: #08288D;
      background-color: #f7f7f7;
      border-bottom: 3px solid transparent;
      border-left: 3px solid rgba(8, 40, 141, 0.8); }
  .school__dashboard--links {
    text-decoration: none;
    color: inherit;
    padding-left: 2rem; }
  .school__dashboard .fa {
    padding-right: 1rem; }

.school__dashboard--teachers {
  width: 80%;
  margin: auto;
  background-color: #fff;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  padding: 2rem 2rem; }

.school__dashboard--teacher1, .school__dashboard--teacher2, .school__dashboard--teacher3, .school__dashboard--teacher4, .school__dashboard--teacher5 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 3px solid rgba(0, 0, 0, 0.8);
  padding: 1rem 1rem 0 1rem; }

.dashboard__teacher--imagebox {
  width: 10%; }

.dashboard__teacher--image {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #08288D; }

.dashboard__teacher--namebox {
  padding: 2rem  1rem 0 0;
  width: 15%;
  text-align: left; }

.dashboard__teacher--name {
  font-size: 1.5rem; }
  .dashboard__teacher--name span {
    text-decoration: underline;
    display: block;
    font-weight: 700; }

.dashboard__teacher--subjectbox {
  padding: 1rem  1rem 0 0;
  width: 27%;
  text-align: left; }

.dashboard__teacher--subject {
  text-decoration: underline;
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 1rem; }

.dashboard__teacher--subjectlist {
  padding-left: 2rem; }

.dashboard__teacher--subjectitems {
  font-size: 1.2rem; }

.dashboard__teacher--attendancebox {
  padding: 0;
  width: 43%;
  text-align: center; }

.dashboard__teacher--attendance {
  display: inline-block; }
  .dashboard__teacher--attendance:not(:last-child) {
    margin-right: 1rem; }

.dashboard__teacher--attendance--header {
  text-decoration: underline;
  font-size: 1.5rem;
  font-weight: 700; }

.dashboard__teacher--attendance--para {
  font-size: 1.5rem; }

.attendace--radio {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid #08288D;
  display: inline-block;
  position: relative;
  cursor: pointer; }

.radio {
  display: none; }
  .radio:checked + .dashboard__teacher--label > .present::after,
  .radio:checked + .dashboard__teacher--label > .absent::after,
  .radio:checked + .dashboard__teacher--label > .leave::after {
    color: #fff; }
  .radio:checked + .dashboard__teacher--label > .present,
  .radio:checked + .dashboard__teacher--label > .absent,
  .radio:checked + .dashboard__teacher--label > .leave {
    background-color: #FECB4B;
    border: 2px solid #f7f7f7; }

.present {
  font-size: 2.2rem;
  transition: all .2s; }
  .present:hover {
    font-size: 1.5rem; }
  .present::after {
    content: "P";
    font-weight: 300;
    display: block;
    position: absolute;
    color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.absent {
  font-size: 2.2rem;
  transition: all .2s; }
  .absent:hover {
    font-size: 1.5rem; }
  .absent::after {
    content: "A";
    font-weight: 300;
    display: block;
    position: absolute;
    color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.leave {
  font-size: 2.2rem;
  transition: all .2s; }
  .leave:hover {
    font-size: 1.5rem; }
  .leave::after {
    content: "L";
    font-weight: 300;
    display: block;
    position: absolute;
    color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.week {
  display: inline-block; }
  .week--one {
    background-color: ivory; }

.section__offer {
  position: relative;
  overflow: hidden;
  background-color: #f7f7f7; }
  .section__offer-body {
    width: 80%;
    margin: auto; }
    @media only screen and (max-width: 31.25em) {
      .section__offer-body {
        width: 100%; } }
  .section__offer-card {
    display: flex;
    justify-content: space-between;
    padding: 4rem 3rem; }
    @media only screen and (max-width: 31.25em) {
      .section__offer-card {
        flex-direction: column; } }
  .section__offer-svg {
    position: absolute;
    left: -20rem;
    bottom: -10rem;
    width: 30%; }
    @media only screen and (max-width: 31.25em) {
      .section__offer-svg {
        left: -20rem;
        bottom: -2rem;
        width: 75%; } }

.card {
  width: 28%;
  border: 2px solid #777;
  border-radius: 15px;
  padding: 2rem 2rem;
  background-color: #fff;
  outline-offset: .7rem;
  transition: all 1s;
  z-index: 10; }
  @media only screen and (max-width: 31.25em) {
    .card {
      width: 100%; }
      .card:not(:last-child) {
        margin-bottom: 3rem; } }
  .card__image {
    width: 35%; }

.section__teacher {
  position: relative;
  overflow: hidden; }
  .section__teacher-body {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    padding: 4rem 3rem;
    color: #000; }
    @media only screen and (max-width: 31.25em) {
      .section__teacher-body {
        flex-direction: column;
        align-items: center; } }

.teacher {
  box-shadow: 0px 7px 16px -3px rgba(0, 0, 0, 0.75);
  background-color: #f7f7f7;
  padding: 3rem 2rem;
  width: 23%;
  border-radius: 15px;
  z-index: 10; }
  @media only screen and (max-width: 31.25em) {
    .teacher {
      width: 90%; }
      .teacher:not(:last-child) {
        margin-bottom: 2.5rem; } }
  .teacher__image {
    width: 60%;
    border-radius: 50%; }

.round__design {
  position: absolute;
  width: 50%;
  height: auto;
  height: 120%;
  border-radius: 50%; }
  .round__design-1 {
    background-color: rgba(8, 40, 141, 0.7);
    right: -30rem;
    top: -5rem; }
    @media only screen and (max-width: 31.25em) {
      .round__design-1 {
        right: -12rem; } }
  .round__design-2 {
    background-color: rgba(254, 203, 75, 0.7);
    right: -40rem;
    top: -5rem; }
    @media only screen and (max-width: 31.25em) {
      .round__design-2 {
        right: -16rem; } }
  .round__design-3 {
    background-color: rgba(252, 122, 0, 0.7);
    right: -25rem;
    top: -5rem; }
    @media only screen and (max-width: 31.25em) {
      .round__design-3 {
        right: -19rem; } }

.section__testimony {
  background-color: #f7f7f7; }
  .section__testimony-box {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto; }
  .section__testimony-imagebox {
    width: 45%; }
    @media only screen and (max-width: 31.25em) {
      .section__testimony-imagebox {
        display: none; } }
  .section__testimony-textbox {
    width: 55%;
    padding: 5.5rem 0 1rem 0; }
    @media only screen and (max-width: 31.25em) {
      .section__testimony-textbox {
        width: 100%; } }
  .section__testimony-text {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-radius: 10px;
    box-shadow: 0px 7px 16px -3px rgba(0, 0, 0, 0.75);
    background-color: #f7f7f7; }
    .section__testimony-text:not(:last-child) {
      margin-bottom: 3rem; }
    @media only screen and (max-width: 31.25em) {
      .section__testimony-text {
        width: 100%; } }
  .section__testimony-image {
    width: 100%;
    object-fit: cover; }

.text-image {
  width: 100%;
  object-fit: cover; }

.text__image-holder {
  width: 20%; }

.section__login {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  padding: 7rem 0;
  position: relative;
  overflow: hidden; }
  .section__login-imagebox {
    width: 45%; }
    @media only screen and (max-width: 31.25em) {
      .section__login-imagebox {
        display: none; } }
  .section__login-formbox {
    width: 50%;
    text-align: center; }
    @media only screen and (max-width: 31.25em) {
      .section__login-formbox {
        width: 90%;
        margin: auto; } }
  .section__login-design {
    position: absolute;
    left: -35rem;
    top: -15rem; }
    @media only screen and (max-width: 31.25em) {
      .section__login-design {
        width: 85%; } }

.section__signup {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  padding: 7rem 0;
  position: relative;
  overflow: hidden; }
  .section__signup-imagebox {
    width: 45%;
    height: 100%; }
    @media only screen and (max-width: 31.25em) {
      .section__signup-imagebox {
        display: none; } }
  .section__signup-formbox {
    width: 50%;
    text-align: center; }
    @media only screen and (max-width: 31.25em) {
      .section__signup-formbox {
        width: 100%;
        z-index: 900; } }
  .section__signup-design-1 {
    position: absolute;
    left: -35rem;
    top: -15rem; }
    @media only screen and (max-width: 31.25em) {
      .section__signup-design-1 {
        width: 85%; } }
  .section__signup-design-2 {
    position: absolute;
    right: -35rem;
    top: -18rem; }
    @media only screen and (max-width: 31.25em) {
      .section__signup-design-2 {
        width: 85%; } }
  .section__signup-design-3 {
    position: absolute;
    right: -25rem;
    bottom: -20rem; }
    @media only screen and (max-width: 31.25em) {
      .section__signup-design-3 {
        width: 85%; } }

.section__signup-select select {
  background-color: dodgerblue;
  color: #fff;
  width: 80%;
  margin: auto;
  padding: 1.2rem 2rem;
  margin: 1rem 0; }
  .section__signup-select select option {
    padding: 1.2rem 2rem; }
