// Offer section design
.section__offer{
    position: relative;
    overflow: hidden;
    background-color:$color-grey-light-1;
    &-body{
        width: 80%;
        margin: auto;
       
    }
    &-card{
        @include flexBetween;
        padding: 4rem 3rem;
    }
    &-svg{
        position: absolute;
        left: -20rem;
        bottom: -10rem;
        width: 30%;
    }

}
// Offer section card design
.card{
    width: 28%;
    border: 2px solid $color-grey-dark;
    border-radius: 15px;
    padding: 2rem 2rem;
    background-color: $color-white;
    outline-offset: .7rem;
    transition: all 1s;
    &__image{
        width: 35%;
    }
    &-1{
        z-index: 10;
    }
}
// teacher section design
.section__teacher{
    position: relative;
    overflow: hidden;
    &-body{
        @include flexBetween;
        width: 95%;
        margin: auto;
        padding: 4rem 3rem;
        color: $color-black;
    }
}
// teacher boxes design
.teacher{
    box-shadow: 0px 7px 16px -3px rgba(0,0,0,0.75);
    background-color: $color-grey-light-1;
    padding: 3rem 2rem;
    width: 23%;
    border-radius: 15px;
    z-index: 10;
    &__image{
        width: 60%;
        border-radius: 50%;
    }

}
//  teacher section background design
.round__design{
    position: absolute;
    width: 50%;
    height: auto;
    height: 120%;
    border-radius: 50%;
    &-1{
        background-color: rgba($color-blue , 0.7);
        right: -35rem;
        top: -5rem;
    }
    &-2{
        background-color: rgba($color-yellow , 0.7);
        right: -45rem;
        top: -5rem;

        
    }
    &-3{
        background-color: rgba($color-orange , 0.7);
        right: -40rem;
        top: -5rem;
    }
}
.section__testimony{
    background-color: $color-grey-light-1;
    
    &-box{
        @include flexBetween;
        width: 90%;
        margin: auto;
    
    }
    &-imagebox{
        width: 45%;
    }
        
    &-textbox{
        width: 55%;
    }
    &-text{
        width: 70%;
        margin: auto;
        @include flexBetween;
        padding: 1rem 1rem;
        border-radius: 10px;
        box-shadow: 0px 7px 16px -3px rgba(0,0,0,0.75);
        background-color: $color-grey-light-1;
    }
    &-image{
        @include imageRes;
    }
}

.text-image{
    @include imageRes;
}
.text__image-holder{
    width: 20%;

}

.secondary__paragraph-box{
    width: 80%;
    padding-top: 2rem;
   
}

.testimony{
    &__box-1{
    margin: 5.5rem auto 0 auto;
}
    &__box-2{
    margin: 3rem auto;
}
}