.section__login{
    display: flex;
    flex-direction: row-reverse;
    width: $max-width;
    padding: 7rem 0;
    position: relative;
    overflow: hidden;
  

    &-imagebox{
        width: 45%;
        @include respond(phone){
            display: none;
        }
    }
    &-formbox{
        width: 50%;
        text-align: center;
        @include respond(phone){
            width: 90%;
            margin: auto;
        }
    }
    &-design{
        position: absolute;
        left: -35rem;
        top: -15rem;
        @include respond(phone){
            width: 85%;
        }
  
    }
   
}