.section__signup{
    display: flex;
    flex-direction: row-reverse;
    width: $max-width;
    padding: 7rem 0;
    position: relative;
    overflow: hidden;
    @include respond(phone){
        
    }
    &-imagebox{
        width: 45%;
        height: 100%;
        @include respond(phone){
        display: none;
        }
    }
    &-formbox{
        width: 50%;
        text-align: center;
        @include respond(phone){
          width: 100%;
          z-index: 900;
         }
    }
    &-design-1{
        position: absolute;
        left: -35rem;
        top: -15rem;
        @include respond(phone){
            width: 85%;
        }
        
    }
    &-design-2{
        position: absolute;
        right: -35rem;
        top: -18rem;
        @include respond(phone){
            width: 85%;
        }
    }
    &-design-3{
        position: absolute;
        right: -25rem;
        bottom: -20rem;
        @include respond(phone){
            width: 85%;
        }
    }
   
}
.section__signup{
    &-select select {
        background-color: dodgerblue;
        color: #fff;
        width: 80%;
        margin: auto;
        padding: 1.2rem 2rem;
        margin: 1rem 0;
        & option{
            padding: 1.2rem 2rem;
        }
    
    }
 
}