<!doctype html>
<html lang="en">
 <head> 
  <meta charset="UTF-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css"> 
  <link rel="shortcut icon" type="image/png" href="../css/img/school-logo.jpeg"> 
  <title>Christ The Saviour Secondary School</title> 
 </head> 
 <body>
    <main class="school__dashboard">
        <section class="school__dashboard--left">
            <div class="school__dashboard--logobox">
                <img src="../css/img/school-logo.jpeg" alt="school logo" class="school__dashboard--logo">
            </div>
            <div class="school__dashboard--listbox">
                <ul class="school__dashboard--list">
                    <li class="school__dashboard--item">
                        <a href="#" class="school__dashboard--links">
                            <i class="fa fa-book" aria-hidden="true"></i>
                            Dashboard</a>
                    </li>
                    <li class="school__dashboard--item">
                        <a href="#teachers__section" class="school__dashboard--links">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            Teachers</a>
                    </li>
                    <li class="school__dashboard--item">
                        <a href="#" class="school__dashboard--links">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i> 
                            Students</a>
                    </li>
                    <li class="school__dashboard--item">
                        <a href="#" class="school__dashboard--links">
                            <i class="fa fa-table" aria-hidden="true"></i>
                            Timetable</a>

                    </li>
                </ul>
            </div>
        </section>
        <section class="school__dashboard--right" id="teachers__section">
            <nav class="school__dashboard--navbar">
                <h2 class="tertiary__heading">Dashboard</h2>
            </nav>

                <section class="school__dashboard--teachers">
                    <div class="school__dashboard--teacher1">
                        <div class="dashboard__teacher--imagebox">
                            <img src="../css/img/avatar.jpg" alt="teacher image" class="dashboard__teacher--image">
                        </div>
                        <div class="dashboard__teacher--namebox">
                            <p class="dashboard__teacher--name"> <span>Name:</span> Jonah Prince</p>
                        </div>
                        <div class="dashboard__teacher--subjectbox">
                            <p class="dashboard__teacher--subject">Subjects:</p>
                            <ol class="dashboard__teacher--subjectlist">
                                <li class="dashboard__teacher--subjectitems">English</li>
                                <li class="dashboard__teacher--subjectitems">Literature</li>
                            </ol>
                        </div>
                        <div class="dashboard__teacher--attendancebox">
                            <h4 class="dashboard__teacher--attendance--header">Attendance</h4>
                            <div class="dashboard__teacher--attendance">
                                <p class="dashboard__teacher--attendance--para">Week 1</p>
                                <div class="week--one">
                                    <input type="radio" name="attendace--check" id="present" class="radio"> 
                                    <label for="present" class="dashboard__teacher--label">
                                        <span class="attendace--radio present"></span> 
                                    </label>
                                    <input type="radio" name="attendace--check" id="absent" class="radio">
                                    <label for="absent" class="dashboard__teacher--label">
                                        <span class="attendace--radio absent"></span>
                                    </label>
                                    <input type="radio" name="attendace--check" id="leave" class="radio">
                                    <label for="leave" class="dashboard__teacher--label">
                                        <span class="attendace--radio leave"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="dashboard__teacher--attendance">
                                <p class="dashboard__teacher--attendance--para">Week 2</p>
                                <div class="week--two">
                                    <input type="radio" name="attendace--check2" id="present-2" class="radio"> 
                                    <label for="present-2" class="dashboard__teacher--label">
                                        <span class="attendace--radio present present-2"></span> 
                                    </label>
                                    <input type="radio" name="attendace--check2" id="absent-2" class="radio">
                                    <label for="absent-2" class="dashboard__teacher--label">
                                        <span class="attendace--radio absent absent-2"></span>
                                    </label>
                                    <input type="radio" name="attendace--check2" id="leave-2" class="radio">
                                    <label for="leave-2" class="dashboard__teacher--label">
                                        <span class="attendace--radio leave leave-2"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="dashboard__teacher--attendance">
                                <p class="dashboard__teacher--attendance--para">Week 3</p>
                                <div class="week--three">
                                    <input type="radio" name="attendace--check3" id="present-3" class="radio"> 
                                    <label for="present-3" class="dashboard__teacher--label">
                                        <span class="attendace--radio present present-3"></span> 
                                    </label>
                                    <input type="radio" name="attendace--check3" id="absent-3" class="radio">
                                    <label for="absent-3" class="dashboard__teacher--label">
                                        <span class="attendace--radio absent absent-3"></span>
                                    </label>
                                    <input type="radio" name="attendace--check3" id="leave-3" class="radio">
                                    <label for="leave-3" class="dashboard__teacher--label">
                                        <span class="attendace--radio leave leave-3"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- -----teacher 2----- -->
                    <div class="school__dashboard--teacher2">
                        <div class="dashboard__teacher--imagebox">
                            <img src="../css/img/avatar.jpg" alt="teacher image" class="dashboard__teacher--image">
                        </div>
                        <div class="dashboard__teacher--namebox">
                            <p class="dashboard__teacher--name"> <span>Name:</span> Jonah Prince</p>
                        </div>
                        <div class="dashboard__teacher--subjectbox">
                            <p class="dashboard__teacher--subject">Subjects:</p>
                            <ol class="dashboard__teacher--subjectlist">
                                <li class="dashboard__teacher--subjectitems">English</li>
                                <li class="dashboard__teacher--subjectitems">Literature</li>
                            </ol>
                        </div>
                        <div class="dashboard__teacher--attendancebox">
                            <h4 class="dashboard__teacher--attendance--header">Attendance</h4>
                            <div class="dashboard__teacher--attendance">
                                <p class="dashboard__teacher--attendance--para">Week 1</p>
                                <div class="week--one">
                                    <input type="radio" name="attendace--check" id="present" class="radio"> 
                                    <label for="present" class="dashboard__teacher--label">
                                        <span class="attendace--radio present"></span> 
                                    </label>
                                    <input type="radio" name="attendace--check" id="absent" class="radio">
                                    <label for="absent" class="dashboard__teacher--label">
                                        <span class="attendace--radio absent"></span>
                                    </label>
                                    <input type="radio" name="attendace--check" id="leave" class="radio">
                                    <label for="leave" class="dashboard__teacher--label">
                                        <span class="attendace--radio leave"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="dashboard__teacher--attendance">
                                <p class="dashboard__teacher--attendance--para">Week 2</p>
                                <div class="week--two">
                                    <input type="radio" name="attendace--check2" id="present-2" class="radio"> 
                                    <label for="present-2" class="dashboard__teacher--label">
                                        <span class="attendace--radio present present-2"></span> 
                                    </label>
                                    <input type="radio" name="attendace--check2" id="absent-2" class="radio">
                                    <label for="absent-2" class="dashboard__teacher--label">
                                        <span class="attendace--radio absent absent-2"></span>
                                    </label>
                                    <input type="radio" name="attendace--check2" id="leave-2" class="radio">
                                    <label for="leave-2" class="dashboard__teacher--label">
                                        <span class="attendace--radio leave leave-2"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="dashboard__teacher--attendance">
                                <p class="dashboard__teacher--attendance--para">Week 3</p>
                                <div class="week--three">
                                    <input type="radio" name="attendace--check3" id="present-3" class="radio"> 
                                    <label for="present-3" class="dashboard__teacher--label">
                                        <span class="attendace--radio present present-3"></span> 
                                    </label>
                                    <input type="radio" name="attendace--check3" id="absent-3" class="radio">
                                    <label for="absent-3" class="dashboard__teacher--label">
                                        <span class="attendace--radio absent absent-3"></span>
                                    </label>
                                    <input type="radio" name="attendace--check3" id="leave-3" class="radio">
                                    <label for="leave-3" class="dashboard__teacher--label">
                                        <span class="attendace--radio leave leave-3"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- -----teacher 3---- -->
                    <div class="school__dashboard--teacher3">
                        <div class="dashboard__teacher--imagebox">
                            <img src="../css/img/avatar.jpg" alt="teacher image" class="dashboard__teacher--image">
                        </div>
                        <div class="dashboard__teacher--namebox">
                            <p class="dashboard__teacher--name"> <span>Name:</span> Jonah Prince</p>
                        </div>
                        <div class="dashboard__teacher--subjectbox">
                            <p class="dashboard__teacher--subject">Subjects:</p>
                            <ol class="dashboard__teacher--subjectlist">
                                <li class="dashboard__teacher--subjectitems">English</li>
                                <li class="dashboard__teacher--subjectitems">Literature</li>
                            </ol>
                        </div>
                        <div class="dashboard__teacher--attendancebox">
                            <h4 class="dashboard__teacher--attendance--header">Attendance</h4>
                            <div class="dashboard__teacher--attendance">
                                <p class="dashboard__teacher--attendance--para">Week 1</p>
                                <div class="week--one">
                                    <input type="radio" name="attendace--check" id="present" class="radio"> 
                                    <label for="present" class="dashboard__teacher--label">
                                        <span class="attendace--radio present"></span> 
                                    </label>
                                    <input type="radio" name="attendace--check" id="absent" class="radio">
                                    <label for="absent" class="dashboard__teacher--label">
                                        <span class="attendace--radio absent"></span>
                                    </label>
                                    <input type="radio" name="attendace--check" id="leave" class="radio">
                                    <label for="leave" class="dashboard__teacher--label">
                                        <span class="attendace--radio leave"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="dashboard__teacher--attendance">
                                <p class="dashboard__teacher--attendance--para">Week 2</p>
                                <div class="week--two">
                                    <input type="radio" name="attendace--check2" id="present-2" class="radio"> 
                                    <label for="present-2" class="dashboard__teacher--label">
                                        <span class="attendace--radio present present-2"></span> 
                                    </label>
                                    <input type="radio" name="attendace--check2" id="absent-2" class="radio">
                                    <label for="absent-2" class="dashboard__teacher--label">
                                        <span class="attendace--radio absent absent-2"></span>
                                    </label>
                                    <input type="radio" name="attendace--check2" id="leave-2" class="radio">
                                    <label for="leave-2" class="dashboard__teacher--label">
                                        <span class="attendace--radio leave leave-2"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="dashboard__teacher--attendance">
                                <p class="dashboard__teacher--attendance--para">Week 3</p>
                                <div class="week--three">
                                    <input type="radio" name="attendace--check3" id="present-3" class="radio"> 
                                    <label for="present-3" class="dashboard__teacher--label">
                                        <span class="attendace--radio present present-3"></span> 
                                    </label>
                                    <input type="radio" name="attendace--check3" id="absent-3" class="radio">
                                    <label for="absent-3" class="dashboard__teacher--label">
                                        <span class="attendace--radio absent absent-3"></span>
                                    </label>
                                    <input type="radio" name="attendace--check3" id="leave-3" class="radio">
                                    <label for="leave-3" class="dashboard__teacher--label">
                                        <span class="attendace--radio leave leave-3"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- -----teacher 4----- -->
                    <div class="school__dashboard--teacher4">
                        <div class="dashboard__teacher--imagebox">
                            <img src="../css/img/avatar.jpg" alt="teacher image" class="dashboard__teacher--image">
                        </div>
                        <div class="dashboard__teacher--namebox">
                            <p class="dashboard__teacher--name"> <span>Name:</span> Jonah Prince</p>
                        </div>
                        <div class="dashboard__teacher--subjectbox">
                            <p class="dashboard__teacher--subject">Subjects:</p>
                            <ol class="dashboard__teacher--subjectlist">
                                <li class="dashboard__teacher--subjectitems">English</li>
                                <li class="dashboard__teacher--subjectitems">Literature</li>
                            </ol>
                        </div>
                        <div class="dashboard__teacher--attendancebox">
                            <h4 class="dashboard__teacher--attendance--header">Attendance</h4>
                            <div class="dashboard__teacher--attendance">
                                <p class="dashboard__teacher--attendance--para">Week 1</p>
                                <div class="week--one">
                                    <input type="radio" name="attendace--check" id="present" class="radio"> 
                                    <label for="present" class="dashboard__teacher--label">
                                        <span class="attendace--radio present"></span> 
                                    </label>
                                    <input type="radio" name="attendace--check" id="absent" class="radio">
                                    <label for="absent" class="dashboard__teacher--label">
                                        <span class="attendace--radio absent"></span>
                                    </label>
                                    <input type="radio" name="attendace--check" id="leave" class="radio">
                                    <label for="leave" class="dashboard__teacher--label">
                                        <span class="attendace--radio leave"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="dashboard__teacher--attendance">
                                <p class="dashboard__teacher--attendance--para">Week 2</p>
                                <div class="week--two">
                                    <input type="radio" name="attendace--check2" id="present-2" class="radio"> 
                                    <label for="present-2" class="dashboard__teacher--label">
                                        <span class="attendace--radio present present-2"></span> 
                                    </label>
                                    <input type="radio" name="attendace--check2" id="absent-2" class="radio">
                                    <label for="absent-2" class="dashboard__teacher--label">
                                        <span class="attendace--radio absent absent-2"></span>
                                    </label>
                                    <input type="radio" name="attendace--check2" id="leave-2" class="radio">
                                    <label for="leave-2" class="dashboard__teacher--label">
                                        <span class="attendace--radio leave leave-2"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="dashboard__teacher--attendance">
                                <p class="dashboard__teacher--attendance--para">Week 3</p>
                                <div class="week--three">
                                    <input type="radio" name="attendace--check3" id="present-3" class="radio"> 
                                    <label for="present-3" class="dashboard__teacher--label">
                                        <span class="attendace--radio present present-3"></span> 
                                    </label>
                                    <input type="radio" name="attendace--check3" id="absent-3" class="radio">
                                    <label for="absent-3" class="dashboard__teacher--label">
                                        <span class="attendace--radio absent absent-3"></span>
                                    </label>
                                    <input type="radio" name="attendace--check3" id="leave-3" class="radio">
                                    <label for="leave-3" class="dashboard__teacher--label">
                                        <span class="attendace--radio leave leave-3"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- -----teacher 5----- -->
                <div class="school__dashboard--teacher5">
                    <div class="dashboard__teacher--imagebox">
                        <img src="../css/img/avatar.jpg" alt="teacher image" class="dashboard__teacher--image">
                    </div>
                    <div class="dashboard__teacher--namebox">
                        <p class="dashboard__teacher--name"> <span>Name:</span> Jonah Prince</p>
                    </div>
                    <div class="dashboard__teacher--subjectbox">
                        <p class="dashboard__teacher--subject">Subjects:</p>
                        <ol class="dashboard__teacher--subjectlist">
                            <li class="dashboard__teacher--subjectitems">English</li>
                            <li class="dashboard__teacher--subjectitems">Literature</li>
                        </ol>
                    </div>
                    <div class="dashboard__teacher--attendancebox">
                        <h5 class="dashboard__teacher--attendance--header">Attendance</h5>
                        <div class="dashboard__teacher--attendance">
                            <p class="dashboard__teacher--attendance--para">Week 1</p>
                            <div class="week--one">
                                <input type="radio" name="attendace--check" id="present" class="radio"> 
                                <label for="present" class="dashboard__teacher--label">
                                    <span class="attendace--radio present"></span> 
                                </label>
                                <input type="radio" name="attendace--check" id="absent" class="radio">
                                <label for="absent" class="dashboard__teacher--label">
                                    <span class="attendace--radio absent"></span>
                                </label>
                                <input type="radio" name="attendace--check" id="leave" class="radio">
                                <label for="leave" class="dashboard__teacher--label">
                                    <span class="attendace--radio leave"></span>
                                </label>
                            </div>
                        </div>
                        <div class="dashboard__teacher--attendance">
                            <p class="dashboard__teacher--attendance--para">Week 2</p>
                            <div class="week--two">
                                <input type="radio" name="attendace--check2" id="present-2" class="radio"> 
                                <label for="present-2" class="dashboard__teacher--label">
                                    <span class="attendace--radio present present-2"></span> 
                                </label>
                                <input type="radio" name="attendace--check2" id="absent-2" class="radio">
                                <label for="absent-2" class="dashboard__teacher--label">
                                    <span class="attendace--radio absent absent-2"></span>
                                </label>
                                <input type="radio" name="attendace--check2" id="leave-2" class="radio">
                                <label for="leave-2" class="dashboard__teacher--label">
                                    <span class="attendace--radio leave leave-2"></span>
                                </label>
                            </div>
                        </div>
                        <div class="dashboard__teacher--attendance">
                            <p class="dashboard__teacher--attendance--para">Week 3</p>
                            <div class="week--three">
                                <input type="radio" name="attendace--check3" id="present-3" class="radio"> 
                                <label for="present-3" class="dashboard__teacher--label">
                                    <span class="attendace--radio present present-3"></span> 
                                </label>
                                <input type="radio" name="attendace--check3" id="absent-3" class="radio">
                                <label for="absent-3" class="dashboard__teacher--label">
                                    <span class="attendace--radio absent absent-3"></span>
                                </label>
                                <input type="radio" name="attendace--check3" id="leave-3" class="radio">
                                <label for="leave-3" class="dashboard__teacher--label">
                                    <span class="attendace--radio leave leave-3"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>  
                
                
                </section>
            
        </section>
    </main>
 </body>
 </html>
