<!doctype html>
<html lang="en">
 <head> 
  <meta charset="UTF-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css"> 
  <link rel="shortcut icon" type="image/png" href="../css/img/school-logo.jpeg"> 
  <title>Christ The Saviour Secondary School</title> 
 </head> 
 <body>
     <header class="header">
         <nav class="navbar">
             <div class="logo__box">
                 <img src="../css/img/school-logo.jpeg" alt="logo" class="logo image">
             </div>
             <div class="nav__text">
                <div class="hamburger">
                    <div class="hamburger__line"></div>
                </div>
             <ul class="nav__lists">
                <li class="nav__list">
                    <a href="#" class="nav__link link">
                        Home
                    </a>
                </li>
                <li class="nav__list">
                    <a href="#" class="nav__link link">
                      About  
                    </a>
                </li>
                <li class="nav__list">
                    <a href="#" class="nav__link link">
                       Our Students 
                    </a>
                </li>
                <li class="nav__list">
                    <a href="../views/signup.html" class="nav__link link">
                       Sign Up 
                    </a>
                </li>
                <li class="nav__list">
                    <a href="../views/login.html" class="nav__link link">
                      Login In  
                    </a>
                </li>
             </ul>
             </div>
         </nav>
    <div class="header__body">
            <img src="../css/img/ui.png" alt="design" class="svg svg-1">
        <div class="header__body-text">
            <h1 class="primary_heading">
                Welcome to School
            </h1>
            <p class="primary_paragraph">
                Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Similique jfhjj jhgju
                Rerum molestiae, temporibus 
            </p>
            <div class="header__flag-box">
                <img src="../css/img/flags.png" alt="flag" class="header__flag">
                <img src="../css/img/country.png" alt="flag" class="header__flag">
                <img src="../css/img/country (1).png" alt="flag" class="header__flag">
                <img src="../css/img/flagy.png" alt="flag" class="header__flag">
                <img src="../css/img/flags (1).png" alt="flag" class="header__flag">
            </div>
        <div class="header__button-box">
            <a href="#" class="btn btn__learning link">Start Learning</a>
            <a href="#" class="btn btn__teaching link">Start Teaching</a>
        </div>
        </div>
        <div class="header__body-image">
            <img src="../css/img/image.png" alt="learning" class="image">
        </div>
        <img src="../css/img/ui.png" alt="design" class="svg svg-2">
    </div>
    
     </header> 
     <main>
         <section class="section__offer section">
        <h2 class="secondary__heading margin__bottom_medium">
            What we offer our pupils
        </h2>
        <div class="section__offer-body">
            <div class="section__offer-card">

                <!-- card one -->
                <div class="card card-1">
                    <img src="../css/img/signal.png" alt="card image" class="card__image">
                    <h3 class="tertiary__heading margin__bottom-top_medium">Personalized Teaching</h3>
                    <p class="secondary__paragraph">
                        Lorem ipsum dolor sit amet consectetur, adipisicing 
                        quod quibusdam exercitationem inventore enim, volupta
                        Lorem ipsum dolor sit amet consectetur, adipisicing 
                        quod quibusdam exercitationem inventore enim, volupta
                    </p>
                </div>

                <!-- card two -->
                <div class="card card-2">
                    <img src="../css/img/education.png" alt="card image" class="card__image">
                    <h3 class="tertiary__heading margin__bottom-top_medium">Personalized Grade</h3>
                    <p class="secondary__paragraph">
                        Lorem ipsum dolor sit amet consectetur, adipisicing 
                        quod quibusdam exercitationem inventore enim, volupta
                        Lorem ipsum dolor sit amet consectetur, adipisicing 
                        quod quibusdam exercitationem inventore enim, volupta
                    </p>
                </div>
                
                <!-- card three -->
                <div class="card card-3">
                    <img src="../css/img/communications.png" alt="card image" class="card__image">
                    <h3 class="tertiary__heading margin__bottom-top_medium">Prompt Feedback</h3>
                    <p class="secondary__paragraph">
                        Loremipsum dolor sit amet consectetur, adipisicing 
                        quod quibusdam exercitationem inventore enim, volupta
                        Lorem ipsum dolor sit amet consectetur, adipisicing 
                        quod quibusdam exercitationem inventore enim, volupta
                    </p>
                </div>

            </div>
            <div class="section__offer-image">
                <img src="../css/img/graphic-design.png" alt="design" class="section__offer-svg">
            </div>
        </div>
         </section>

<!-- meet teachers -->
         <section class="section__teacher section">
             <div class="round__design round__design-1 ">

             </div>
             <div class="round__design round__design-2">
                 
            </div>
            <div class="round__design round__design-3">
                 
            </div>
            <h2 class="secondary__heading margin__bottom_medium">
                Meet our teachers
            </h2>
<!-- teacher card -->
            <div class="section__teacher-body">

    <!-- TEACHER ONE -->
                <div class="teacher teacher-1">
                    <img src="../css/img/photo-3.jpg " alt="teacher image" class="teacher__image margin__bottom-top_medium">
                    <p class="secondary__paragraph medium__width">
                       <span class="section__teacher-span">Name: </span>Grente Manku
                    </p>
                    <p class="secondary__paragraph medium__width">
                        <span class="section__teacher-span">Role: </span>Lorem ipsum, dolor sit  
                    </p>
        <!-- social button for teacher section -->
                    <div class="teacher__social">
                        <a href="" class="link btn__social btn__social-facebook">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                        <a href="" class="link btn__social btn__social-instagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="" class="link btn__social btn__social-linkedin">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                        <a href="" class="link btn__social btn__social-resume">
                            <i class="fa fa-address-book" aria-hidden="true"></i>
                        </a>
                    </div>
                   
                </div>

 <!-- TEACHER TWO -->
                <div class="teacher teacher-2">
                    <img src="../css/img/photo-3.jpg " alt="teacher image" class="teacher__image margin__bottom-top_medium">
                    <p class="secondary__paragraph medium__width">
                       <span class="section__teacher-span">Name: </span>Grente Manku
                    </p>
                    <p class="secondary__paragraph medium__width">
                        <span class="section__teacher-span">Role: </span>Lorem ipsum, dolor sit  
                    </p>

     <!-- social button for teacher section -->
                      <div class="teacher__social">
                        <a href="" class="link btn__social btn__social-facebook">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                        <a href="" class="link btn__social btn__social-instagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="" class="link btn__social btn__social-linkedin">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                        <a href="" class="link btn__social btn__social-resume">
                            <i class="fa fa-address-book" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

<!-- TEACHER THREE -->
                <div class="teacher teacher-3">
                    <img src="../css/img/photo-3.jpg " alt="teacher image" class="teacher__image margin__bottom-top_medium">
                    <p class="secondary__paragraph medium__width">
                       <span class="section__teacher-span">Name:</span>Grente Manku
                    </p>
                    <p class="secondary__paragraph medium__width">
                        <span class="section__teacher-span">Role:</span>Lorem ipsum, dolor sit  
                    </p>
    <!-- social button for teacher section -->
                      <div class="teacher__social">
                        <a href="" class="link btn__social btn__social-facebook">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                        <a href="" class="link btn__social btn__social-instagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="" class="link btn__social btn__social-linkedin">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                        <a href="" class="link btn__social btn__social-resume">
                            <i class="fa fa-address-book" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

<!-- TEACHER FOUR -->
                <div class="teacher teacher-4">
                    <img src="../css/img/photo-3.jpg " alt="teacher image" class="teacher__image margin__bottom-top_medium">
                    <p class="secondary__paragraph medium__width">
                       <span class="section__teacher-span">Name: </span>Grente Manku
                    </p>
                    <p class="secondary__paragraph medium__width">
                        <span class="section__teacher-span">Role: </span>Lorem ipsum, dolor sit  
                    </p>
        <!-- social button for teacher section -->
                      <div class="teacher__social">
                        <a href="" class="link btn__social btn__social-facebook">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                        <a href="" class="link btn__social btn__social-instagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="" class="link btn__social btn__social-linkedin">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                        <a href="" class="link btn__social btn__social-resume">
                            <i class="fa fa-address-book" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
         </section>

<!-- testimony for students-->

    <section class="section section__testimony">

        <h2 class="secondary__heading margin__bottom_medium">What our students have to say</h2>

        <div class="section__testimony-box">

        <div class="section__testimony-imagebox">
            <img src="../css/img/testimony.png" alt="design image" class="section__testimony-image">
        </div>

        <div class="section__testimony-textbox">

<!-- testimony box 1 -->
            <div class="section__testimony-text testimony__box-1">
                <div class="text__image-holder">
                    <img src="../css/img/photo-1.png" alt="pupil image" class="text-image">
                </div>
                <div class="secondary__paragraph-box">
                    <p class="secondary__paragraph section__testimony-paragraph">
                        Lorem ipsum dolor sit amet 
                        Lorem ipsum dolor sit amet 
                        consectetur adipisicing elit. Ut vo
                        Lorem ipsum dolor sit amet 
                    </p>
                </div>
            </div>

 <!-- testimony box 2 -->
            <div class="section__testimony-text testimony__box-2">
                <div class="text__image-holder">
                    <img src="../css/img/photo-1.png" alt="pupil image" class="text-image">
                </div>
                <div class="secondary__paragraph-box">
                    <p class="secondary__paragraph section__testimony-paragraph">
                        Lorem ipsum dolor sit amet 
                        Lorem ipsum dolor sit amet 
                        consectetur adipisicing elit. Ut vo
                        Lorem ipsum dolor sit amet 
                    </p>
                </div>
            </div>

 <!-- testimony box 3 -->
            <div class="section__testimony-text testimony__box-3">
                <div class="text__image-holder">
                    <img src="../css/img/photo-1.png" alt="pupil image" class="text-image">
                </div>
                <div class="secondary__paragraph-box">
                    <p class="secondary__paragraph section__testimony-paragraph">
                        Lorem ipsum dolor sit amet 
                        Lorem ipsum dolor sit amet 
                        consectetur adipisicing elit. Ut vo
                        Lorem ipsum dolor sit amet 
                    </p>
                </div>
            </div>
        </div>
        </div>
    </section>
    </main>
    <!-- footer design -->
    <footer class="footer">
        <div class="footer__logo-box">
            <img src="../css/img/school-logo.jpeg" alt="logo" class="footer__logo">
        </div>
        <div class="footer__about-company footer__header">
            <h3 class="footer__heading">
                CCTA
            </h3>
            <p class="footer__paragraph"><a href="#" class="link">About</a></p>
            <p class="footer__paragraph"><a href="#" class="link">Location</a></p>
            <p class="footer__paragraph"><a href="#" class="link">Fax</a></p>
            <p class="footer__paragraph"><a href="#" class="link">Teachers</a></p>
        </div>
        <div class="footer__about-links">
            <h3 class="footer__heading">
                Terms of Service
            </h3>
            <p class="footer__paragraph"><a href="#" class="link">sign up</a></p>
            <p class="footer__paragraph"><a href="#" class="link">Login</a></p>
            <p class="footer__paragraph"><a href="#" class="link">sign up</a></p>
            <p class="footer__paragraph"><a href="#" class="link">Login</a></p>
        </div>
        <div class="footer__social-links">
            <h3 class="footer__heading">
                Follow
            </h3>
            <a href="" class="link btn__social btn__social-facebook">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            <a href="" class="link btn__social btn__social-instagram">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="" class="link btn__social btn__social-linkedin">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
            <a href="" class="link btn__social btn__social-resume">
                <i class="fa fa-address-book" aria-hidden="true"></i>
            </a>
        </div>
    </footer>
    
</body>
</html>