<!doctype html>
<html lang="en">
 <head> 
  <meta charset="UTF-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css"> 
  <link rel="shortcut icon" type="image/png" href="../css/img/school-logo.jpeg"> 
  <title>Christ The Saviour Secondary School</title> 
 </head> 
 <body>
 <!-- nabar design -->
 <header>
         <nav class="navbar">
             <div class="logo__box">
                 <img src="../css/img/school-logo.jpeg" alt="logo" class="logo image">
             </div>
             <div class="nav__text">
             <ul class="nav__lists">
                <li class="nav__list">
                    <a href="#" class="nav__link link">
                        Home
                    </a>
                </li>
                <li class="nav__list">
                    <a href="#" class="nav__link link">
                      About  
                    </a>
                </li>
                <li class="nav__list">
                    <a href="#" class="nav__link link">
                       Our Students 
                    </a>
                </li>
                <li class="nav__list">
                    <a href="#" class="nav__link link">
                       Sign Up 
                    </a>
                </li>
                <li class="nav__list">
                    <a href="#" class="nav__link link">
                      Login In  
                    </a>
                </li>
             </ul>
             </div>
         </nav>
        </header>
        <main >
            <section class="section__login">
                <img src="../css/img/graphic-design.png" alt="" class="section__login-design">
                <div class="section__login-imagebox">
                    <img src="../css/img/login.png" alt="girl login" class="section__login-image">
                </div>
                <div class="section__login-formbox">
                    <h2 class="secondary__heading margin__bottom-top_medium">Welcome Back!!</h2>
                    <p class="secondary__paragraph login_paragraph margin__bottom_medium">
                        Welcome back Login to continue Learning/Teaching! 
                    </p>
                    <div class="form__box">
                        
                        <form action="/" class="form">
                            <!-- number or email -->
                            <label for="details" class="label_login">Enter Email or Phone Number</label>
                            <input type="text" id="details" class="details" required placeholder="Email or Phone">
                            <!-- password -->
                            <label for="password" class="label_login">Enter your Password:</label>
                            <input type="password" id="password" class="password" required placeholder="Enter Password">
                            <div class="div__flex-arrange">
                            <div class="remember__box">
                                <input type="radio" class="remember"> 
                                <label for="remember" class="label__remember">Remember me</label>
                            </div>
                            <div class="forgotp_box">       
                                <p class="forgot__password"><a href="#" class="link">Forgot Password?</a></p>
                            </div>
                            </div>
                            <!-- buttons -->
                            <input type="submit" value="Login" class="btn_login">
                            <input type="submit" value="Create Account" class="btn_create">
                        </form>
                  
                    </div>
                </div>
            </section>
        </main>
<!-- footer design -->
<footer class="footer">
    <div class="footer__logo-box">
        <img src="../css/img/school-logo.jpeg" alt="logo" class="footer__logo">
    </div>
    <div class="footer__about-company footer__header">
        <h3 class="footer__heading">
            CCTA
        </h3>
        <p class="footer_paragraph"><a href="#" class="link">About</a></p>
        <p class="footer_paragraph"><a href="#" class="link">Location</a></p>
        <p class="footer_paragraph"><a href="#" class="link">Fax</a></p>
        <p class="footer_paragraph"><a href="#" class="link">Teachers</a></p>
    </div>
    <div class="footer__about-links">
        <h3 class="footer__heading">
            Terms of Service
        </h3>
        <p class="footer_paragraph"><a href="#" class="link">sign up</a></p>
        <p class="footer_paragraph"><a href="#" class="link">Login</a></p>
        <p class="footer_paragraph"><a href="#" class="link">sign up</a></p>
        <p class="footer_paragraph"><a href="#" class="link">Login</a></p>
    </div>
    <div class="footer__social-links">
        <h3 class="footer__heading">
            Follow
        </h3>
        <a href="" class="link btn__social btn__social-facebook">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
        <a href="" class="link btn__social btn__social-instagram">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="" class="link btn__social btn__social-linkedin">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
        <a href="" class="link btn__social btn__social-resume">
            <i class="fa fa-address-book" aria-hidden="true"></i>
        </a>
    </div>
</footer>
</body>
</html>
