<!doctype html>
<html lang="en">
 <head> 
  <meta charset="UTF-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css"> 
  <link rel="shortcut icon" type="image/png" href="../css/img/school-logo.jpeg"> 
  <title>Christ The Saviour Secondary School</title> 
 </head> 
 <body>
         <nav class="navbar">
             <div class="logo__box">
                 <img src="../css/img/school-logo.jpeg" alt="logo" class="logo image">
             </div>
             <div class="nav__text">
             <ul class="nav__lists">
                <li class="nav__list">
                    <a href="#" class="nav__link link">
                        Home
                    </a>
                </li>
                <li class="nav__list">
                    <a href="#" class="nav__link link">
                      About  
                    </a>
                </li>
                <li class="nav__list">
                    <a href="#" class="nav__link link">
                       Our Students 
                    </a>
                </li>
                <li class="nav__list">
                    <a href="#" class="nav__link link">
                       Sign Up 
                    </a>
                </li>
                <li class="nav__list">
                    <a href="#" class="nav__link link">
                      Login In  
                    </a>
                </li>
             </ul>
             </div>
         </nav>
</body>
</html>
