<!doctype html>
<html lang="en">
 <head> 
  <meta charset="UTF-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css"> 
  <link rel="shortcut icon" type="image/png" href="../css/img/school-logo.jpeg"> 
  <title>Christ The Saviour Secondary School</title> 
 </head> 
 <body>
    <nav class="navbar">
        <div class="logo__box">
            <img src="../css/img/school-logo.jpeg" alt="logo" class="logo image">
        </div>
        <div class="nav__text">
           <div class="hamburger">
               <div class="hamburger__line"></div>
           </div>
        <ul class="nav__lists">
           <li class="nav__list">
               <a href="../views/index.html" class="nav__link link">
                   Home
               </a>
           </li>
           <li class="nav__list">
               <a href="#" class="nav__link link">
                 About  
               </a>
           </li>
           <li class="nav__list">
               <a href="#" class="nav__link link">
                  Our Students 
               </a>
           </li>
           <li class="nav__list">
               <a href="#" class="nav__link link">
                  Sign Up 
               </a>
           </li>
           <li class="nav__list">
               <a href="../views/login.html" class="nav__link link">
                 Login In  
               </a>
           </li>
        </ul>
        </div>
    </nav>
<main>
         <section class="section__signup">
            <img src="../css/img/graphic-design.png" alt="" class="section__signup-design-1">
            <img src="../css/img/graphic-design.png" alt="" class="section__signup-design-2">
            <img src="../css/img/graphic-design.png" alt="" class="section__signup-design-3">
            <div class="section__signup-imagebox">
                
            </div>
            <div class="section__signup-formbox">
                <h2 class="secondary__heading margin__bottom-top_medium">Create your account!</h2>
                <p class="secondary__paragraph signup_paragraph margin__bottom_medium">
                    Sign Up and Learning/Teaching! 
                </p>
                <div class="form__box">
                    
                    <form action="/" class="form">
                        <!-- first name -->
                        <label for="fname" class="label_signup">Enter your First Name</label>
                        <input type="text" id="fname" class="fname" required placeholder="First Name">
                        <!-- last name -->
                        <label for="lname" class="label_signup">Enter your Last Name</label>
                        <input type="text" id="lname" class="lname" required placeholder="Last Name">
                        <!-- select role -->
                        <label for="role">Select your Role</label>
                        <div class="section__signup-select">
                        <select id="role">
                            <option value="#">Select Role</option>
                            <option value="student">Student</option>
                            <option value="teacher">Teacher</option>
                          </select>
                          </div>
                        <!-- phone number -->
                        <label for="phone" class="label_signup">Enter your phone number:</label>
                        <input type="tel" id="phone" required placeholder="Enter Tel.." name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" max="12">
                        <!-- email -->
                        <label for="email" class="label_signup">Enter your Email</label>
                        <input type="email" id="email" class="email" required placeholder="Email">
                        <!-- password -->
                        <label for="password" class="label_signup">Create a Password:</label>
                        <input type="password" id="password" class="password" required placeholder="Enter Password">
                        <!-- confrim password -->
                        <label for="password" class="label_signup">Confirm Password:</label>
                        <input type="password" id="password" class="password" required placeholder="Enter Password">
                        <!-- buttons -->
                       <input type="submit" value="Create Account" class="btn_login">
                        <input type="submit" value="Sign In" class="btn_create">
                    </form>
              
                </div>
            </div>
        </section>
    </main>
      <!-- footer design -->
    <footer class="footer">
        <div class="footer__logo-box">
            <img src="../css/img/school-logo.jpeg" alt="logo" class="footer__logo">
        </div>
        <div class="footer__about-company footer__header">
            <h3 class="footer__heading">
                CCTA
            </h3>
            <p class="footer__paragraph"><a href="#" class="link">About</a></p>
            <p class="footer__paragraph"><a href="#" class="link">Location</a></p>
            <p class="footer__paragraph"><a href="#" class="link">Fax</a></p>
            <p class="footer__paragraph"><a href="#" class="link">Teachers</a></p>
        </div>
        <div class="footer__about-links">
            <h3 class="footer__heading">
                Terms of Service
            </h3>
            <p class="footer__paragraph"><a href="#" class="link">sign up</a></p>
            <p class="footer__paragraph"><a href="#" class="link">Login</a></p>
            <p class="footer__paragraph"><a href="#" class="link">sign up</a></p>
            <p class="footer__paragraph"><a href="#" class="link">Login</a></p>
        </div>
        <div class="footer__social-links">
            <h3 class="footer__heading">
                Follow
            </h3>
            <a href="" class="link btn__social btn__social-facebook">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            <a href="" class="link btn__social btn__social-instagram">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="" class="link btn__social btn__social-linkedin">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
            <a href="" class="link btn__social btn__social-resume">
                <i class="fa fa-address-book" aria-hidden="true"></i>
            </a>
        </div>
    </footer>
</body>
</html>
