@mixin flexBetween {
    display: flex;
    justify-content: space-between;
}

@mixin imageRes {
    width: $max-width;
    object-fit: cover;
}

@mixin stylishBorder {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}