.footer{
    width: $max-width;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 10px -10px 20px -20px $color-blue;
    padding: 4rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    text-align: left;

    &__logo-box{
        width: 20%;
      
    }
    &__logo{
        width: 50%;
        object-fit: contain;
    }
   &__about-company{
       width: 20%;
   
   }
   &__about-links{
       width: 20%;
      
   }
   &__paragraph:not(:last-child){
       padding: 2rem;
       font-weight: 500;

   }
   &__heading{
       font-weight: 700;
       text-decoration: underline;
   }
   &__social-links{
       width: 20%;
   }

}