//login form
.form{  
    &__box{
    width: 70%;
    height: auto;
    background-color: white;
    box-shadow: 0px 7px 16px -3px rgba(0,0,0,0.75);
    margin: 0 auto;
    @include stylishBorder;
    padding: 5rem 2rem;
    font-size: 1.5rem;
    position: relative;
    overflow: hidden;
}
}

.label_login{
    display: block;
    margin: 1rem 0 1rem 0;
    
}
.div__flex-arrange{
    @include flexBetween;
    width: 80%;
    margin: 1.7rem auto;
    
}

input{
    &[type=text],
    &[type=password],
    &[type=email],
    &[type=tel]{
        width: 80%;
        padding: 1.2rem 2rem;
        margin: 1rem 0;
        display: block;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin: auto;
        background-color: $color-grey-light-1; 
     
    }
    &[type=submit] {
        background-color: $color-yellow;
        color: white;
        padding: 1.4rem 3rem;
        margin: 1.5rem 0;
        border: none;
        display: inline-block;
        border-radius: 15px;
        cursor: pointer;
        font-size: 1.5rem;
        transition: all .1s;
        &:not(:last-child){
            margin-right: 2rem;
        }
        &:hover{
            transform: translateY(-3px);
            box-shadow: 1rem 1rem 2.1rem -0.9rem rgba($color-black, 0.304);
            color: $color-blue;
        }
        &:active,
        &:focus{
            transform: translateY(0);
            box-shadow: 1rem 1rem 2.1rem -1.2rem rgba($color-black, 0.304);
            outline: none;
        }

      }
}
.form__img{
    position: absolute;
    top: -4rem;
}

   